.mainWrapper {
    display: grid;
    grid-template-rows: 300px 1fr 20px;
}

.top {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    background-color: blue;
}

#tetris {
    display: grid;
    grid-template-rows: repeat(10, 30px);
}

.tetrisLine {
    display: grid;
    grid-template-columns: repeat(10, 30px);
}

.tetrisCell {
    width: 30px;
    height: 30px;
}

.topCenter {
    background-color: olivedrab;
}

.topRight {
    background-color: blue;
}

.middle {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.middleLeft {
    background-color: yellowgreen;
}

.middleRight {
    background-color: ButtonHighlight;
}

.bottom {
    background-color: rosybrown;
}

