#tetris {
    flex-basis: 25%;
    flex-shrink: 2;

    display: flex;
    flex-direction: column;

}

.tetrisLine {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.tetrisCell {
    width: 30px;
}
